apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: frontend
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: frontend
    app.kubernetes.io/version: latest
    environment: dev
    helm.sh/chart: frontend-0.1.0
  name: frontend
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: frontend
      app.kubernetes.io/name: frontend
      environment: dev
  template:
    metadata:
      annotations:
        checksum/config: 5a5be835a13808ec3c486eaeda6f4283a51468dacb9e777e8c64f404b23319b0
      labels:
        app.kubernetes.io/instance: frontend
        app.kubernetes.io/name: frontend
        environment: dev
    spec:
      containers:
      - image: marcellmartini/image-promotion-frontend:29a05d22
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 10
        name: frontend
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
        resources:
          limits:
            cpu: 200m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
        volumeMounts:
        - mountPath: /etc/nginx/conf.d/default.conf
          name: nginx-config
          subPath: default.conf
      imagePullSecrets:
      - name: dockerhub-creds
      volumes:
      - configMap:
          name: frontend-nginx
        name: nginx-config
