replicaCount: 1

imagePullSecrets:
  - name: dockerhub-creds

image:
  repository: marcellmartini/image-promotion-backend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  DATABASE_URL: postgresql://postgres:postgres@postgres:5432/users_db
  JWT_SECRET_KEY: super-secret-key-for-dev

probes:
  liveness:
    path: /health
    initialDelaySeconds: 10
    periodSeconds: 30
    timeoutSeconds: 10
  readiness:
    path: /health
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
