replicaCount: 1

image:
  repository: marcellmartini/image-promotion-frontend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

# Backend service name for nginx proxy
backendService: backend

probes:
  liveness:
    path: /
    initialDelaySeconds: 10
    periodSeconds: 30
    timeoutSeconds: 10
  readiness:
    path: /
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
